06.Conversor de Moedas/bin/Debug/net9.0/Conversor de Moedas.exe
/08. Jogo de Advinhação/Jogo/bin
/08. Jogo de Advinhação/Jogo/obj
/06.Conversor de Moedas/obj
/07. Tabuada/bin
/07. Tabuada/obj
/06.Conversor de Moedas/bin
