06.Conversor de Moedas/bin/Debug/net9.0/Conversor de Moedas.exe
/08. Jogo de Advinhação/Jogo/bin
/08. Jogo de Advinhação/Jogo/obj
/06.Conversor de Moedas/obj
/07. Tabuada/bin
/07. Tabuada/obj
/06.Conversor de Moedas/bin
MediaDeNotas/bin/Debug/net9.0/MediaDeNotas.deps.json
MediaDeNotas/bin/Debug/net9.0/MediaDeNotas.exe
MediaDeNotas/bin/Debug/net9.0/MediaDeNotas.runtimeconfig.json
MediaDeNotas/obj/MediaDeNotas.csproj.nuget.dgspec.json
MediaDeNotas/obj/project.assets.json
/MediaDeNotas/bin
/MediaDeNotas/obj
/9.MediaDeNotas/bin
/9.MediaDeNotas/obj
/MediaDeNotas
/MediaDeNotas
MediaDeNotas/MediaDeNotas.csproj
/MediaDeNotas
10.ListasDeCompras/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
10.ListasDeCompras/obj/Debug/net9.0/ref/10.ListasDeCompras.dll
10.ListasDeCompras/obj/Debug/net9.0/refint/10.ListasDeCompras.dll
10.ListasDeCompras/obj/Debug/net9.0/apphost.exe
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.sourcelink.json
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.pdb
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.GlobalUsings.g.cs
10.ListasDeCompras/obj/10.ListasDeCompras.csproj.nuget.dgspec.json
10.ListasDeCompras/obj/10.ListasDeCompras.csproj.nuget.g.props
10.ListasDeCompras/obj/10.ListasDeCompras.csproj.nuget.g.targets
10.ListasDeCompras/obj/project.assets.json
10.ListasDeCompras/obj/project.nuget.cache
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.AssemblyInfo.cs
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.AssemblyInfoInputs.cache
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.assets.cache
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.csproj.CoreCompileInputs.cache
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.csproj.FileListAbsolute.txt
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.dll
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.GeneratedMSBuildEditorConfig.editorconfig
10.ListasDeCompras/obj/Debug/net9.0/10.ListasDeCompras.genruntimeconfig.cache
10.ListasDeCompras/bin/Debug/net9.0/10.ListasDeCompras.deps.json
10.ListasDeCompras/bin/Debug/net9.0/10.ListasDeCompras.dll
10.ListasDeCompras/bin/Debug/net9.0/10.ListasDeCompras.exe
10.ListasDeCompras/bin/Debug/net9.0/10.ListasDeCompras.pdb
10.ListasDeCompras/bin/Debug/net9.0/10.ListasDeCompras.runtimeconfig.json
/12.DiceRollSimulator/obj
